In [61]:
import pandas as pd
import numpy as np
from sklearn.impute import SimpleImputer

In [62]:
df1 = pd.read_csv('/content/obese_nations_iso.csv')

In [63]:
df2 = pd.read_csv('/content/obesity_nations_2014.csv')

In [64]:
df1.head()

  code               Country  value   Female   Male
0  AFG           Afghanistan    2.9      4.1    1.8
1  AGO                Angola   10.2     14.2    6.0
2  ALB               Albania   17.6     18.7   16.5
3  AND               Andorra   29.5     30.5   28.5
4  ARE  United Arab Emirates   37.2     45.1   33.8

In [65]:
df2.head()

       Country        Both sexes            Female              Male
0  Afghanistan     2.9 [1.6-4.2]     4.1 [2.2-6.7]     1.8 [0.8-3.3]
1      Albania  17.6 [12.7-22.2]    18.7 [12-26.3]  16.5 [10.7-23.4]
2      Algeria  24.8 [19.7-29.8]  30.8 [23.4-38.5]  18.8 [12.9-25.4]
3      Andorra  29.5 [23.8-35.1]  30.5 [22.5-39.1]  28.5 [21.1-36.1]
4       Angola     10.2 [6-14.3]   14.2 [8.4-21.7]      6 [2.9-10.8]

In [66]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 179 entries, 0 to 178
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   code     179 non-null    object
 1   Country  179 non-null    object
 2   value    179 non-null    float64
 3    Female  179 non-null    float64
 4    Male    179 non-null    float64
dtypes: float64(3), object(2)
memory usage: 7.1+ KB

In [67]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 192 entries, 0 to 191
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Country      192 non-null    object
 1    Both sexes  192 non-null    object
 2    Female      192 non-null    object
 3    Male        192 non-null    object
dtypes: object(4)
memory usage: 6.1+ KB

In [68]:
np.random.seed(50)
col_name=['value','Country']
mask = np.random.choice([True, False], size=df1[col_name].shape)
mask[mask.all(1),-1] = 0

In [69]:
print("\nMask for df1:")
print(mask)

Mask for df1:
[[ True False]
 [False False]
 [False  True]
 [ True False]
 [False  True]
 [ True False]
 [False  True]
 [False  True]
 [False False]
 [ True False]
 [False  True]
 [False  True]
 [ True False]
 [ True False]
 [False False]
 [False  True]
 [False  True]
 [ True False]
 [ True False]
 [ True False]
 [ True False]
 [False False]
 [ True False]
 [False  True]
 [ True False]
 [False  True]
 [ True False]
 [ True False]
 [ True False]
 [False  True]
 [ True False]
 [ True False]
 [False False]
 [ True False]
 [False  True]
 [ True False]
 [False  True]
 [ True False]
 [ True False]
 [ True False]
 [False  True]
 [False False]
 [False False]
 [False False]
 [ True False]
 [False False]
 [ True False]
 [False False]
 [False  True]
 [ True False]
 [ True False]
 [ True False]
 [False  True]
 [ True False]
 [False False]
 [ True False]
 [ True False]
 [ True False]
 [False False]
 [ True False]
 [ True False]
 [ True False]
 [False  True]
 [False False]
 [ True False]
 [False False]
 [ True False]
 [ True False]
 [ True False]
 [ True False]
 [ True False]
 [ True False]
 [False False]
 [False False]
 [False False]
 [False  True]
 [False False]
 [False  True]
 [False  True]
 [ True False]
 [False  True]
 [ True False]
 [ True False]
 [False  True]
 [False False]
 [False  True]
 [ True False]
 [ True False]
 [False  True]
 [ True False]
 [ True False]
 [ True False]
 [False  True]
 [False False]
 [ True False]
 [False  True]
 [ True False]
 [False  True]
 [ True False]
 [ True False]
 [False False]
 [False  True]
 [False  True]
 [ True False]
 [ True False]
 [ True False]
 [False  True]
 [ True False]
 [ True False]
 [ True False]
 [False  True]
 [False  True]
 [ True False]
 [False False]
 [ True False]
 [ True False]
 [False  True]
 [False  True]
 [False False]
 [ True False]
 [ True False]
 [ True False]
 [False False]
 [False False]
 [ True False]
 [False False]
 [False  True]
 [False False]
 [False  True]
 [ True False]
 [ True False]
 [ True False]
 [ True False]
 [False False]
 [ True False]
 [False False]
 [ True False]
 [ True False]
 [ True False]
 [ True False]
 [ True False]
 [ True False]
 [ True False]
 [False False]
 [False False]
 [ True False]
 [False  True]
 [ True False]
 [False False]
 [ True False]
 [False False]
 [ True False]
 [ True False]
 [False  True]
 [ True False]
 [False False]
 [False False]
 [ True False]
 [ True False]
 [False  True]
 [ True False]
 [False False]
 [False  True]
 [False False]
 [ True False]
 [False  True]
 [False  True]
 [False False]
 [ True False]
 [ True False]
 [False False]
 [ True False]
 [False False]
 [ True False]
 [False  True]
 [ True False]
 [False False]
 [False  True]
 [ True False]]

In [15]:
df1[col_name]=df1[col_name].mask(mask)

In [70]:
np.random.seed(10)
col_name=['Country']
mask = np.random.choice([True, False], size=df2[col_name].shape)
mask[mask.all(1),-1] = 0
print("\nMask for df2:")
print(mask)

Mask for df2:
[[False]
 [False]
 [False]
 [False]
 [False]
 [False]
 [False]
 [False]
 [False]
 [False]
 [False]
 [False]
 [False]
 [False]
 [False]
 [False]
 [False]
 [False]
 [False]
 [False]
 [False]
 [False]
 [False]
 [False]
 [False]
 [False]
 [False]
 [False]
 [False]
 [False]
 [False]
 [False]
 [False]
 [False]
 [False]
 [False]
 [False]
 [False]
 [False]
 [False]
 [False]
 [False]
 [False]
 [False]
 [False]
 [False]
 [False]
 [False]
 [False]
 [False]
 [False]
 [False]
 [False]
 [False]
 [False]
 [False]
 [False]
 [False]
 [False]
 [False]
 [False]
 [False]
 [False]
 [False]
 [False]
 [False]
 [False]
 [False]
 [False]
 [False]
 [False]
 [False]
 [False]
 [False]
 [False]
 [False]
 [False]
 [False]
 [False]
 [False]
 [False]
 [False]
 [False]
 [False]
 [False]
 [False]
 [False]
 [False]
 [False]
 [False]
 [False]
 [False]
 [False]
 [False]
 [False]
 [False]
 [False]
 [False]
 [False]
 [False]
 [False]
 [False]
 [False]
 [False]
 [False]
 [False]
 [False]
 [False]
 [False]
 [False]
 [False]
 [False]
 [False]
 [False]
 [False]
 [False]
 [False]
 [False]
 [False]
 [False]
 [False]
 [False]
 [False]
 [False]
 [False]
 [False]
 [False]
 [False]
 [False]
 [False]
 [False]
 [False]
 [False]
 [False]
 [False]
 [False]
 [False]
 [False]
 [False]
 [False]
 [False]
 [False]
 [False]
 [False]
 [False]
 [False]
 [False]
 [False]
 [False]
 [False]
 [False]
 [False]
 [False]
 [False]
 [False]
 [False]
 [False]
 [False]
 [False]
 [False]
 [False]
 [False]
 [False]
 [False]
 [False]
 [False]
 [False]
 [False]
 [False]
 [False]
 [False]
 [False]
 [False]
 [False]
 [False]
 [False]
 [False]
 [False]
 [False]
 [False]
 [False]
 [False]
 [False]
 [False]
 [False]
 [False]
 [False]
 [False]
 [False]
 [False]
 [False]
 [False]]

In [71]:
df2[col_name]=df2[col_name].mask(mask)

In [72]:
print("\nMissing values in df1:")
print(df1.isnull().sum())

Missing values in df1:
code       0
Country    0
value      0
 Female    0
 Male      0
dtype: int64

In [73]:
print("\nMissing values in df2:")
print(df2.isnull().sum())

Missing values in df2:
Country        0
 Both sexes    0
 Female        0
 Male          0
dtype: int64

In [74]:
df1['value'].fillna(df1['value'].mean(), inplace=True)
df1["Country"] = df1["Country"].fillna("America")

In [75]:
df2["Country"] = df2["Country"].fillna("Australia")

In [76]:
df1_melted = df1.melt(id_vars=["Country"], var_name="Variable", value_name="Value")
print("\nMelted df1:")
print(df1_melted)

Melted df1:
                  Country Variable Value
0             Afghanistan     code   AFG
1                  Angola     code   AGO
2                 Albania     code   ALB
3                 Andorra     code   AND
4    United Arab Emirates     code   ARE
..                    ...      ...   ...
711                 Samoa     Male  36.0
712                 Yemen     Male  11.1
713          South Africa     Male  15.7
714                Zambia     Male   3.4
715              Zimbabwe     Male   2.4

[716 rows x 3 columns]

In [77]:
df_merged = df1.merge(df2, left_on='Country', right_on='Country')
print("\nMerged DataFrame:")
print(df_merged)

Merged DataFrame:
    code               Country  value   Female_x   Male_x        Both sexes  \
0    AFG           Afghanistan    2.9        4.1      1.8     2.9 [1.6-4.2]
1    AGO                Angola   10.2       14.2      6.0     10.2 [6-14.3]
2    ALB               Albania   17.6       18.7     16.5  17.6 [12.7-22.2]
3    AND               Andorra   29.5       30.5     28.5  29.5 [23.8-35.1]
4    ARE  United Arab Emirates   37.2       45.1     33.8  37.2 [30.9-43.4]
..   ...                   ...    ...        ...      ...               ...
174  WSM                 Samoa   43.4       51.3     36.0  43.4 [37.4-49.1]
175  YEM                 Yemen   17.2       23.4     11.1    17.2 [11.9-22]
176  ZAF          South Africa   26.8       37.3     15.7  26.8 [22.8-31.3]
177  ZMB                Zambia    8.9       14.3      3.4      8.9 [6-11.6]
178  ZWE              Zimbabwe   10.5       18.5      2.4   10.5 [6.7-14.2]

             Female_y            Male_y
0       4.1 [2.2-6.7]     1.8 [0.8-3.3]
1     14.2 [8.4-21.7]      6 [2.9-10.8]
2      18.7 [12-26.3]  16.5 [10.7-23.4]
3    30.5 [22.5-39.1]  28.5 [21.1-36.1]
4    45.1 [36.9-53.3]    33.8 [26-41.7]
..                ...               ...
174  51.3 [43.4-59.1]      36 [27.6-45]
175  23.4 [15.8-31.9]   11.1 [6.2-17.2]
176  37.3 [30.6-43.9]    15.7 [11-21.5]
177   14.3 [9.7-19.8]     3.4 [1.7-5.9]
178  18.5 [12.1-25.9]       2.4 [1-4.5]

[179 rows x 8 columns]

In [78]:
df1.rename(columns={"value": "new_value"}, inplace=True)

In [79]:
df1.set_index("Country", inplace=True)

In [80]:
def custom_function(x):
    return x * 2

In [81]:
df1['new_value'] = df1['new_value'].apply(custom_function)

In [82]:
filtered_df = df1.query('new_value > 50')
print("\nFiltered DataFrame:")
print(filtered_df)

Filtered DataFrame:
                         code  new_value   Female   Male
Country
Andorra                   AND       59.0     30.5   28.5
United Arab Emirates      ARE       74.4     45.1   33.8
Argentina                 ARG       52.6     28.9   23.6
Antigua and Barbuda       ATG       61.8     38.7   22.8
Australia                 AUS       57.2     28.8   28.4
...                       ...        ...      ...    ...
Uruguay                   URY       53.4     30.6   22.5
United States of America  USA       67.4     34.7   32.6
Vanuatu                   VUT       70.8     41.5   29.4
Samoa                     WSM       86.8     51.3   36.0
South Africa              ZAF       53.6     37.3   15.7

[56 rows x 4 columns]

In [83]:
df1.dropna(inplace=True)

In [84]:
imputer = SimpleImputer(strategy='mean')
df1['new_value'] = imputer.fit_transform(df1[['new_value']])

In [85]:
print("\nModified DataFrame df1:")
print(df1)

Modified DataFrame df1:
                     code  new_value   Female   Male
Country
Afghanistan           AFG        5.8      4.1    1.8
Angola                AGO       20.4     14.2    6.0
Albania               ALB       35.2     18.7   16.5
Andorra               AND       59.0     30.5   28.5
United Arab Emirates  ARE       74.4     45.1   33.8
...                   ...        ...      ...    ...
Samoa                 WSM       86.8     51.3   36.0
Yemen                 YEM       34.4     23.4   11.1
South Africa          ZAF       53.6     37.3   15.7
Zambia                ZMB       17.8     14.3    3.4
Zimbabwe              ZWE       21.0     18.5    2.4

[179 rows x 4 columns]

In [86]:
print("\nModified DataFrame df2:")
print(df2)

Modified DataFrame df2:
                                Country        Both sexes            Female  \
0                           Afghanistan     2.9 [1.6-4.2]     4.1 [2.2-6.7]
1                               Albania  17.6 [12.7-22.2]    18.7 [12-26.3]
2                               Algeria  24.8 [19.7-29.8]  30.8 [23.4-38.5]
3                               Andorra  29.5 [23.8-35.1]  30.5 [22.5-39.1]
4                                Angola     10.2 [6-14.3]   14.2 [8.4-21.7]
..                                  ...               ...               ...
187  Venezuela (Bolivarian Republic of)    24.8 [20.3-30]  29.4 [22.5-36.9]
188                            Viet Nam     3.6 [1.9-5.4]     4.8 [2.5-8.1]
189                               Yemen    17.2 [11.9-22]  23.4 [15.8-31.9]
190                              Zambia      8.9 [6-11.6]   14.3 [9.7-19.8]
191                            Zimbabwe   10.5 [6.7-14.2]  18.5 [12.1-25.9]

                 Male
0       1.8 [0.8-3.3]
1    16.5 [10.7-23.4]
2    18.8 [12.9-25.4]
3    28.5 [21.1-36.1]
4        6 [2.9-10.8]
..                ...
187  20.3 [14.2-27.2]
188       2.3 [1-4.4]
189   11.1 [6.2-17.2]
190     3.4 [1.7-5.9]
191       2.4 [1-4.5]

[192 rows x 4 columns]

In [87]:
print("Melted DataFrame:")
df_merged_melted

Melted DataFrame:

                              Country Variable             Value
0                         Afghanistan     code               AFG
1                              Angola     code               AGO
2                             Andorra     code               AND
3                           Argentina     code               ARG
4                           Australia     code               AUS
..                                ...      ...               ...
940  Saint Vincent and the Grenadines   Male_y  17.9 [11.8-25.3]
941                           Vanuatu   Male_y  29.4 [21.7-37.5]
942                             Yemen   Male_y   11.1 [6.2-17.2]
943                      South Africa   Male_y    15.7 [11-21.5]
944                          Zimbabwe   Male_y       2.4 [1-4.5]

[945 rows x 3 columns]